{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'student-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'student-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">

          {% if object.passport %}
            <img
              src="{{ object.passport.url }}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% else %}
            <img
              src="{% static 'dist/img/avatar.png' %}"
              class="float-left rounded-circle mr-3" style="width: 120px; height: 120px;">
          {% endif %}


          <div class="float-right">
            <h6>{{ object.name }} </h6>
            <h6>{{ object.email }} </h6>
          </div>
        </div>
        <h5>Class: {{ object.current_class }} </h5>
        <h5>{{ object.get_gender_display }} | {{ object.get_current_status_display }}</h5>

      </div>
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Birthday
            </label>
            <div class="col">
              {{ object.date_of_birth }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
               Parent phone number
            </label>
            <div class="col">
              {{ object.parent_mobile_number}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Address
            </label>
            <div class="col">
              {{ object.address }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Comments
            </label>
            <div class="col">
              {{ object.others }}
            </div>
          </div>

        </div>

      </div>
    </div>


    {% if payments %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>For</th>
            <th>Amount Payable</th>
            <th>Amount Paid</th>
            <th>balance</th>
          </tr>
        </thead>

        </tbody>
      </table>

    {% else %}

    {% endif %}


<h4>Result</h4>
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Subject</th>
            <th>15m score</th>
            <th>45m score</th>
            <th>Average score</th>
            <th>Term</th>
              <th>Year</th>
              <th>Rate</th>
          </tr>
        </thead>
        <tbody>

          {% for result in results %}
              <tr>

              <td>{{ result.subject }}</td>
              <td>{{result.test_score}}</td>
              <td>{{result.exam_score}}</td>
              <td>{{result.total_score}}</td>
              <td>{{ result.term}}</td>
                  <td>{{ result.session}}</td>
              <td>{{result.grade}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>


{% endblock content %}