{% extends 'base.html' %}

{% block title %}Students{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'student-create' %}"><i
    class="fas fa-plus"></i> Add student</a>
<a class="btn btn-primary" href="{% url 'student-upload' %}"><i
    class="fas fa-upload"></i> Upload information student </a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="studenttable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Student ID</th>
          <th>Fullname</th>
          <th>Email</th>
          <th>Class</th>
          <th>Gender</th>
          <th>Parent phone number</th>
        </tr>
      </thead>
      <tbody>

        {% for student in students %}
          <tr class='clickable-row' data-href="{% url 'student-detail' student.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ student.id}}</td>
            <td>{{ student.name}}</td>
            <td>{{ student.email}}</td>
            <td>{{ student.current_class}}</td>
            <td>{{ student.get_gender_display}}</td>
            <td>{{ student.parent_mobile_number}}</td>

          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#studenttable').DataTable({
  });
</script>

{% endblock morejs %}
