 {% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'create_student_class' %}">
        <i class="fas fa-plus"></i> Add new student
    </a>
{% endblock breadcrumb %}
{% block content-header %}


<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'class-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'class-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-4">
        <div class="row mb-2">




          <div class="float-right">
            <h4>Class: {{ object.name}} </h4>
              <h4>Number of student: {{ students.count }}</h4>
              <h4>List student of class: {{ object.name }}</h4>
          </div>
        </div>



    {% if students %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
              <th>S/N</th>
            <th>Student ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Gender</th>
              <th>Parent phone number</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr class='clickable-row' data-href="{% url 'student-detail' student.id %}">
              <td>{{ forloop.counter }}</td>
              <td> {{student.id}} </td>
              <td>{{student.name}}</td>
                <td>{{student.email}}</td>
              <td>{{student.gender}}</td>
                <td>{{ student.parent_mobile_number }}</td>
                <td>
               <div class="float-right">
                    <a href="{% url "delete_student_class" student.id  %}" class="btn btn-sm btn-info">Delete</a>

                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are 0 student in class {{object}}</p>
    {% endif %}




{% endblock content %}
 <tbody>
      {% for student in students %}
        <tr>

          <td>{{student}} </td>
          <td>{{student.current_class}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>